{% extends "layout.twig" %}
{% block header %}
{% include "admin_menu.twig" %}
{% endblock %}
{% block content %}
<div id="createRibbit" class="panel right">
    <h1>Create a Ribbit</h1>
    <p>
        {# @note @twig afficher le rendu d'une route dans un controller render(url) #}
        {{ render(path("ribbit_create")) }}
        </p>
    </div>
    <div class="panel left">
        <h1>Public Ribbits</h1>
    {% include 'ribbits.twig' with {ribbits:ribbits} only %}
    </div>
{% endblock %}

