{% extends "layout.twig" %}
{% block header %}
{% include "admin_menu.twig" %}
{% endblock %}
{% block content %}
<div id="createRibbit" class="panel right">
    <h1>Create a Ribbit</h1>
    <p>
        {# @note @twig afficher le rendu d'une route dans un controller render(url) #}
        {{ render(path("ribbit_create")) }}
        </p>
    </div>
    <div class="panel left">
        <h1>Buddies Ribbits</h1>
        {% if ribbits is defined and ribbits|length > 0 %}
    {% include 'ribbits.twig' with {ribbits:ribbits} only %}
        {% else %}
        <p>No ribbits yet</p>
        {% endif %}
    </div>
{% endblock %}

