     <a href="">Buddies&#x27; Ribbits</a>
     <a href="">Public Profiles</a>
     <a href="">My Profile</a>
     <a href="">Public Ribbits</a>
     <form action="{{path('users_logout')}}">
        <input type="submit" id="btnLogOut" value="Log Out">
    </form>