{% extends "layout.twig" %}
{% block header %}
    {% include 'form_login.twig' %}
{% endblock %}
{% block content %}
<img src="{{app.request.basePath}}/gfx/frog.jpg">
<div class="panel right">
    <h1>New to Ribbit?</h1>
    <p>
        {% include 'form_register.twig' %}
    </p>
</div>
<div class="panel left">Ported in Silex\Docrtrine ORM by M.PARAISO : <a href="mailto:mparaiso@online.fr ">mparaiso@online.fr </a> <br/><a href="https://github.com/Mparaiso/silex-ribbit">get the source on github</a>
<br/>hosted by <a href="https://www.alwaysdata.com/">https://www.alwaysdata.com/</a>
</div>


{% endblock %}